@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&family=Nunito:wght@200&display=swap');



body {
    font-family: "nunito", cursive;
    padding: 0;
    margin: 0;
    text-align: center;
    background-color: grey;
}

ul{
    margin: 0;
    padding: 0;
}

li{
    list-style-type: none;
}

h2{
    text-transform: uppercase;
    padding-top: 30px;
    font-size: 2em;
}

a{
    text-decoration: none;
    color: black;
}

/* nav */

nav{
    overflow: hidden;
    background-color: orange;
    position: fixed;
    width: 100%;
    opacity: 0.9;
}

header nav li{
    float: right;
    font-size: 1.2em;
}

header nav li a {
    text-decoration: none;
    display: block;
    padding: 18px 16px;
    
}

#logo {
    font-family: Garamond, cursive;
    font-weight: bold;
    float: left;
}

nav li :hover{
    transform: scale(1.05);
    transition: 0.8s ease-in-out;
}

/* lobby picture */

#lobbyPicture {
    padding-top: 60px;
    background: url(pictures/main_picture.png) no-repeat fixed 50% 50%;
    background-size: cover;
    height: 599px;
}

#motorcyclesPicture {
    padding-top: 60px;
    background: url(pictures/motorcycles_picture.jpg) no-repeat fixed 50% 50%;
    background-size: cover;
    height: 599px;
}
#tripsPicture {
    padding-top: 60px;
    background: url(pictures/tripsPicture.jfif) no-repeat fixed 50% 50%;
    background-size: cover;
    height: 599px;
}
#projectsPicture {
    padding-top: 60px;
    background: url(pictures/projects_picture.jpg) no-repeat fixed 50% 50%;
    background-size: cover;
    height: 599px;
}

h1 {
    font-family: Nunito, cursive;
    color: rgb(190, 124, 2);
    font-size: 6em;
    margin-top: 80px;
    text-shadow: 2px 3px 2px gold;
}

#illustrationLobby {
    height: 1px;
    width: 25%;
    margin: -3px auto;
    background-color: orange;
    
}

h3 {
    color: rgb(190, 124, 2);
    font-size: 3em;
    text-shadow: 1px 3px 2px gold;
}

/* presentation */

#presentation {
    background-color: gray;
    padding: 10px 0px 100 px 0;
}

#textIntro {
    padding: 1% 20%;
}

#tabsPresentation {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 5% 10%;
}

.presentationPictures h4{
    font-family: Nunito, cursive;
    font-weight: bold;
    font-size: 1.8em;
    margin: 15px;
}

.presentationPictures img{
    border-radius: 10px;
    box-shadow: 5px 5px 3px 1px black;
}

.presentationPictures img:hover{
    opacity: 0.5;
    transform: scale(1.05);
    transition: 0.8s ease-in-out;
}

/* About me  */

#aboutMe {
    height: 1100px;
    background-color: darkgray;
    padding: 1px 2%;

}

#aboutMe h2 {
    padding-top: 60px;
}

#youtubeChannel {
    background : url(pictures/youtube_R-Onne.png) no-repeat;
    background-size: contain;
    border-radius: 10px;
}
#instagram {
    background : url(pictures/instagram_moto.png.jpg) no-repeat;
    background-size: contain;

}
#twitter {
    background : url(pictures/twitter_moto_v2.png);
    background-size: contain;

} 

#aboutMeTabs {
    display: grid;
    margin-left: 30%;
}

#aboutMe li {
    margin: 65px 100px 0 100px;
    height: 200px;
    width: 300px;
    max-width: 550px;
    float: left;
    box-shadow: 6px 6px 28px -1px rgba(0,0,0,0.75);
} 

#aboutMe li :hover{
    opacity: 0.5;
    transform: scale(1.05);
    transition: 0.8s ease-out;
}

#aboutMe p{
    height: 45px;
    width: 235px;
    background-color: orange;
    float: right;
    margin: 50px -180px 0 0;
    font-size: 1.5em;
    padding-top: 15px;
    box-shadow: 4px 4px 0 1px gold;
}

/* Motorcycles */

.firstBike{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.firstBike .content .card{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px;
}


.firstBike .content .card .leftBox {
    flex: 0 0 30%;
    padding: 20px;
    padding-top: 5%;
    background-color: brown;
    color: white;
    border-radius: 2%;
    line-height: 30px;

}
.firstBike .content .card.rightBox {
    flex: 0 0 70%;
    
    
}

.firstBike .content .card .rightBox img{
    height: 400px;
    width: 600px;
    margin-top: 5px;
    border-radius: 2%;
    box-shadow: 5px 5px 3px 1px black;
}

.secondBike{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.secondBike .content .card{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px;
}


.secondBike .content .card .leftBox {
    flex: 0 0 30%;
    padding: 50px;
    background-color: brown;
    color: white;
    border-radius: 2%;
    height: 300px;
    width: 400px;
    

}
.secondBike .content .card.rightBox {
    flex: 0 0 70%;
    
}

.secondBike .content .card .rightBox img{
    height: 400px;
    width: 530px;
    margin-top: 5px;
    border-radius: 2%;
    box-shadow: 5px 5px 3px 1px black;
}


/* TRIPS */

.summary{
    background: rgb(170, 170, 170);
    
}

.summary .content{
    text-align: left;
    padding: 20px;
    margin-left: 30px;
}

.summary .content ul li{
    text-transform: uppercase;
    font-size: large;
    font-weight: bold;
    text-decoration: underline;
    text-underline-position: under;
    padding: 5px;
    list-style: circle;
}

.summary .content ul li a { 
    color: orange;

}

.summary .content ul li :hover { 
    color: brown;
    opacity: 70%;
}

#titleSummary{
    text-decoration: underline;
    text-transform: capitalize;
    font-size: 3em;
    color: black;
}

.colEspi{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.colEspi .content .card .leftBox h4{
    text-decoration: underline;
}

.colEspi .content .card{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px;
}


.colEspi .content .card .leftBox {
    flex: 0 0 30%;
    padding: 20px;
    background-color: brown;
    color: white;
    border-radius: 2%;
    

}
.colEspi .content .card.rightBox {
    flex: 0 0 70%;
    
}

.colEspi .content .card .leftBox img {
    height: 300px;
    width: 500px;
    border-radius: 2%;
}

.colEspi .content .card .rightBox img{
    height: 400px;
    width: 550px;
    margin-top: 5px;
    border-radius: 2%;
    box-shadow: 5px 5px 3px 1px black;
}

.laCiotat{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.laCiotat .content .card .rightBox h4{
    text-decoration: underline;
}

.laCiotat .content .card{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px;
}


.laCiotat .content .card .rightBox {
    flex: 0 0 30%;
    padding: 20px;
    background-color: brown;
    color: white;
    border-radius: 2%;
    

}
.laCiotat .content .card.leftBox {
    flex: 0 0 70%;
    
}

.laCiotat .content .card .rightBox img {
    height: 300px;
    width: 500px;
    border-radius: 2%;
}

.laCiotat .content .card .leftBox img{
    height: 400px;
    width: 550px;
    margin-top: 5px;
    border-radius: 2%;
    box-shadow: -5px 5px 3px 1px black;
}

.sainteVictoire{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sainteVictoire .content .card .leftBox h4{
    text-decoration: underline;
}

.sainteVictoire .content .card{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px;
}


.sainteVictoire .content .card .leftBox {
    flex: 0 0 30%;
    padding: 20px;
    background-color: brown;
    color: white;
    border-radius: 2%;
    

}
.sainteVictoire .content .card.rightBox {
    flex: 0 0 70%;
    
}

.sainteVictoire .content .card .leftBox img {
    height: 300px;
    width: 500px;
    border-radius: 2%;
}

.sainteVictoire .content .card .rightBox img{
    height: 400px;
    width: 550px;
    margin-top: 5px;
    border-radius: 2%;
    box-shadow: 5px 5px 3px 1px black;
}

.castellet{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.castellet .content .card .leftBox h4{
    text-decoration: underline;
}

.castellet .content .card{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px;
}


.castellet .content .card .leftBox {
    flex: 0 0 30%;
    padding: 20px;
    background-color: brown;
    color: white;
    border-radius: 2%;
    

}
.castellet .content .card.rightBox {
    flex: 0 0 70%;
    
}

.castellet .content .card .leftBox img {
    height: 300px;
    width: 500px;
}

.castellet .content .card .rightBox img{
    height: 400px;
    width: 550px;
    margin-top: 5px;
    border-radius: 2%;
    box-shadow: 5px 5px 3px 1px black;
}

.montCaume{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.montCaume .content .card .leftBox h4{
    text-decoration: underline;
}

.montCaume .content .card{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px;
}


.montCaume .content .card .leftBox {
    flex: 0 0 30%;
    padding: 20px;
    background-color: brown;
    color: white;
    border-radius: 2%;
    

}
.montCaume .content .card.rightBox {
    flex: 0 0 70%;
    
}

.montCaume .content .card .leftBox img {
    height: 300px;
    width: 500px;
}

.montCaume .content .card .rightBox img{
    height: 400px;
    width: 550px;
    margin-top: 5px;
    border-radius: 2%;
    box-shadow: 5px 5px 3px 1px black;
}

.fort_six_fours{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fort_six_fours .content .card .rightBox h4{
    text-decoration: underline;
}

.fort_six_fours .content .card{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px;
}


.fort_six_fours .content .card .rightBox {
    flex: 0 0 30%;
    padding: 20px;
    background-color: brown;
    color: white;
    border-radius: 2%;
    

}
.fort_six_fours .content .card.leftBox {
    flex: 0 0 70%;
    
}

.fort_six_fours .content .card .rightBox img {
    height: 300px;
    width: 500px;
}

.fort_six_fours .content .card .leftBox img{
    height: 400px;
    width: 550px;
    margin-top: 5px;
    border-radius: 2%;
    box-shadow: -5px 5px 3px 1px black;
}

.verdon{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.verdon .content .card .leftBox h4{
    text-decoration: underline;
}

.verdon .content .card{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px;
}


.verdon .content .card .leftBox {
    flex: 0 0 30%;
    padding: 20px;
    background-color: brown;
    color: white;
    border-radius: 2%;
    

}
.verdon .content .card.rightBox {
    flex: 0 0 70%;
    
}

.verdon .content .card .leftBox img {
    height: 300px;
    width: 500px;
}

.verdon .content .card .rightBox img{
    height: 400px;
    width: 550px;
    margin-top: 5px;
    border-radius: 2%;
    box-shadow: 5px 5px 3px 1px black;
}


#link {
    text-decoration: underline;
    text-transform: capitalize;
}

/* Projects */
 
.yamaha{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.r6 .content .card .leftBox h4{
    text-decoration: underline;
}

.r6 .content .card{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px;
}


.r6 .content .card .leftBox {
    flex: 0 0 30%;
    padding: 20px;
    background-color: brown;
    color: white;
    border-radius: 2%;
    

}
.r6 .content .card.rightBox {
    flex: 0 0 70%;
    
}

.r6 .content .card .leftBox img {
    height: 300px;
    width: 450px;
    border-radius: 2%;
}

.r6 .content .card .rightBox {
    height: 400px;
    width: 550px;
    margin-top: 5px;
    border-radius: 2%;
    background: blue;
    box-shadow: 5px 5px 3px 1px black;

}

.r6 .content .card .rightBox img{
    height: 300px;
    width: 550px;
    margin-top: 10%;
    border-radius: 2%;
}

.ducati{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ducati .content .card .leftBox h4{
    text-decoration: underline;
}

.ducati .content .card{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px;
}


.ducati .content .card .leftBox {
    flex: 0 0 30%;
    padding: 20px;
    background-color: brown;
    color: white;
    border-radius: 2%;
    

}
.ducati .content .card.rightBox {
    flex: 0 0 70%;
    
}

.ducati .content .card .leftBox img {
    height: 300px;
    width: 500px;
    border-radius: 2%;
}

.ducati .content .card .rightBox {
    height: 400px;
    width: 550px;
    margin-top: 5px;
    border-radius: 2%;
    background: red;
    box-shadow: 5px 5px 3px 1px black;

}

.ducati .content .card .rightBox img{
    height: 330px;
    width: 550px;
    margin-top: 7%;
    border-radius: 2%;
}

.montVentoux{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.montVentoux .content .card .leftBox h4{
    text-decoration: underline;
}

.montVentoux .content .card{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px;
}


.montVentoux .content .card .leftBox {
    flex: 0 0 30%;
    padding: 20px;
    background-color: brown;
    color: white;
    border-radius: 2%;
    

}
.montVentoux .content .card.rightBox {
    flex: 0 0 70%;
    
}

.montVentoux .content .card .leftBox img {
    height: 300px;
    width: 500px;
    border-radius: 2%;
}

.montVentoux .content .card .rightBox img{
    height: 400px;
    width: 550px;
    margin-top: 5px;
    border-radius: 2%;
}


/* footer */

footer {
    background-color: #524A3A;
    color: #FFFAE1;
    padding: 20px 0 10px 0;
    text-align: center;
  }
  form {
    margin: 0 auto;
    max-width: 900px;
  }
  input, textarea, button {
    border: none;
    width: 55%;
    padding: 15px 10px;
    margin: 1px 0;
    font-size: 1.2em;
    font-family: 'nunito', cursive;
    border-radius: 8px;
  }
  textarea {
    height: 120px;
  }
  button {
    font-size: 1.5em;
    background-color: #FFFAE1;
  }
  button:hover {
    background-color: green;
    color: #FFFAE1;
    cursor: pointer;
    transition: 0.3s ease-in-out;
  }
  #illustrationFooter {
    height: 1px;
    width: 75%;
    background-color: #FFFAE1;
    margin: 60px auto;
  }
  #copyrightAndIcons {
    display: flex;
    margin-bottom: 20px;
    padding: 0 10%;
    text-align: center;
    justify-content: space-between;
  }
  #copyright {
    
    text-align: left;
    color: #FFFAE1;
  }
  #icons {
    
    text-align: right;
  }
  #icons a {
    display: inline-block;
    padding: 0 15px;
    font-size: 1.3em;
    color: #FFFAE1;
  }
  #icons a:hover {
    transform: scale(1.5);
    transition: 0.1s;
  }