@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&family=Nunito:wght@200&display=swap');



body {
    font-family: "nunito", cursive;
    padding: 0;
    margin: 0;
    text-align: center;
    background-color: grey;
}

ul{
    margin: 0;
    padding: 0;
}

li{
    list-style-type: none;
}

h2{
    text-transform: uppercase;
    padding-top: 30px;
    font-size: 2em;
}

a{
    text-decoration: none;
    color: black;
}

/* nav */

nav{
    overflow: hidden;
    background-color: orange;
    position: fixed;
    width: 100%;
    opacity: 0.9;
}

header nav li{
    float: right;
    font-size: 1.2em;
}

header nav li a {
    text-decoration: none;
    display: block;
    padding: 18px 16px;
    
}

#logo {
    font-family: Garamond, cursive;
    font-weight: bold;
    float: left;
}

nav li :hover{
    transform: scale(1.05);
    transition: 0.8s ease-in-out;
}

/* lobby picture */

#lobbyPicture {
    padding-top: 60px;
    background: url(Pictures/main_picture.png) no-repeat fixed 50% 50%;
    background-size: cover;
    height: 599px;
}

#motorcyclesPicture {
    padding-top: 60px;
    background: url(Pictures/motorcycles_picture.jpg) no-repeat fixed 50% 50%;
    background-size: cover;
    height: 599px;
}
#tripsPicture {
    padding-top: 60px;
    background: url(Pictures/tripsPicture.jfif) no-repeat fixed 50% 50%;
    background-size: cover;
    height: 599px;
}
#projectsPicture {
    padding-top: 60px;
    background: url(Pictures/projects_picture.jpg) no-repeat fixed 50% 50%;
    background-size: cover;
    height: 599px;
}

h1 {
    font-family: Nunito, cursive;
    color: orange;
    font-size: 6em;
    margin-top: 80px;
    text-shadow: 2px 3px 2px gold;
}

#illustrationLobby {
    height: 1px;
    width: 25%;
    margin: -3px auto;
    background-color: orange;
    
}

h3 {
    color: orange;
    font-size: 3em;
    text-shadow: 1px 3px 2px gold;
}

/* presentation */

#presentation {
    background-color: gray;
    padding: 10px 0px 100 px 0;
}

#textIntro {
    padding: 1% 20%;
}

#tabsPresentation {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 5% 10%;
}

.presentationPictures h4{
    font-family: Nunito, cursive;
    font-weight: bold;
    font-size: 1.8em;
    margin: 15px;
}

.presentationPictures img{
    border-radius: 10px;
    box-shadow: 5px 5px 3px 1px black;
}

.presentationPictures img:hover{
    opacity: 0.5;
    transform: scale(1.05);
    transition: 0.8s ease-in-out;
}

/* About me  */

#aboutMe {
    height: 1100px;
    background-color: darkgray;
    padding: 1px 2%;

}

#aboutMe h2 {
    padding-top: 60px;
}

#youtubeChannel {
    background : url(Pictures/youtube_R-Onne.png) no-repeat;
    background-size: contain;
    border-radius: 10px;
}
#instagram {
    background : url(Pictures/instagram_moto.png.jpg) no-repeat;
    background-size: contain;

}
#twitter {
    background : url(Pictures/twitter_moto_v2.png);
    background-size: contain;

} 

#aboutMeTabs {
    display: grid;
    margin-left: 30%;
}

#aboutMe li {
    margin: 65px 100px 0 100px;
    height: 200px;
    width: 300px;
    max-width: 550px;
    float: left;
    box-shadow: 6px 6px 28px -1px rgba(0,0,0,0.75);
} 

#aboutMe li :hover{
    opacity: 0.5;
    transform: scale(1.05);
    transition: 0.8s ease-out;
}

#aboutMe p{
    height: 45px;
    width: 235px;
    background-color: orange;
    float: right;
    margin: 50px -180px 0 0;
    font-size: 1.5em;
    padding-top: 15px;
    box-shadow: 4px 4px 0 1px gold;
}

.firstBike{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.firstBike .content .card{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px;
}


.firstBike .content .card .leftBox {
    flex: 0 0 30%;
    padding: 20px;
    background-color: brown;
    color: white;
    border-radius: 2%;
    

}
.firstBike .content .card.rightBox {
    flex: 0 0 70%;
    
}

.firstBike .content .card .rightBox img{
    height: 400px;
    width: 600px;
    margin-top: 5px;
    border-radius: 2%;
}

.secondBike{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.secondBike .content .card{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px;
}


.secondBike .content .card .leftBox {
    padding: 20px;
    background-color: brown;
    color: white;
    border-radius: 2%;
    height: 300px;
    width: 400px;
    

}

.secondBike .content .card .rightBox img{
    height: 400px;
    width: 530px;
    margin-top: 5px;
    border-radius: 2%;
}

.colEspi{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.colEspi .content .card .leftBox h4{
    text-decoration: underline;
}

.colEspi .content .card{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px;
}


.colEspi .content .card .leftBox {
    flex: 0 0 30%;
    padding: 20px;
    background-color: brown;
    color: white;
    border-radius: 2%;
    

}
.colEspi .content .card.rightBox {
    flex: 0 0 70%;
    
}

.colEspi .content .card .leftBox img {
    height: 300px;
    width: 500px;
    border-radius: 2%;
}

.colEspi .content .card .rightBox img{
    height: 400px;
    width: 550px;
    margin-top: 5px;
    border-radius: 2%;
}

.montCaume{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.montCaume .content .card .leftBox h4{
    text-decoration: underline;
}

.montCaume .content .card{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px;
}


.montCaume .content .card .leftBox {
    flex: 0 0 30%;
    padding: 20px;
    background-color: brown;
    color: white;
    border-radius: 2%;
    

}
.montCaume .content .card.rightBox {
    flex: 0 0 70%;
    
}

.montCaume .content .card .leftBox img {
    height: 300px;
    width: 500px;
}

.montCaume .content .card .rightBox img{
    height: 400px;
    width: 550px;
    margin-top: 5px;
    border-radius: 2%;
}


#link {
    text-decoration: underline;
    text-transform: capitalize;
}


/* footer */

footer {
    background-color: #524A3A;
    color: #FFFAE1;
    padding: 20px 0 10px 0;
    text-align: center;
  }
  form {
    margin: 0 auto;
    max-width: 900px;
  }
  input, textarea, button {
    border: none;
    width: 55%;
    padding: 15px 10px;
    margin: 1px 0;
    font-size: 1.2em;
    font-family: 'nunito', cursive;
    border-radius: 8px;
  }
  textarea {
    height: 120px;
  }
  button {
    font-size: 1.5em;
    background-color: #FFFAE1;
  }
  button:hover {
    background-color: green;
    color: #FFFAE1;
    cursor: pointer;
    transition: 0.3s ease-in-out;
  }
  #illustrationFooter {
    height: 1px;
    width: 75%;
    background-color: #FFFAE1;
    margin: 60px auto;
  }
  #copyrightAndIcons {
    display: flex;
    margin-bottom: 20px;
    padding: 0 10%;
    text-align: center;
    justify-content: space-between;
  }
  #copyright {
    
    text-align: left;
    color: #FFFAE1;
  }
  #icons {
    
    text-align: right;
  }
  #icons a {
    display: inline-block;
    padding: 0 15px;
    font-size: 1.3em;
    color: #FFFAE1;
  }
  #icons a:hover {
    transform: scale(1.5);
    transition: 0.1s;
  }